@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.orbitron {
    font-family: "Orbitron", sans-serif;
}


.gradient-01 {
    background-image: linear-gradient(
      270deg,
      hsl(0, 76%, 51%) 0%,
      hsl(0, 70%, 73%) 26%,
      hsl(0, 69%, 86%) 39%,
      hsl(0, 92%, 90%) 50%,
      hsl(0, 77%, 81%) 61%,
      hsl(0, 73%, 70%) 74%,
      hsl(0, 76%, 51%) 100%
    );
    filter: blur(125px);
  }

  .gradient-02 {
    position: absolute;
    width: 200px;
    height: 438px;
    top: 0px;
    right: 0px;
  
    background: #fb7a7a;
    filter: blur(190px);
  }
  